---
layout: default
title: Home
---

# Project Portfolio

This portfolio demonstrates some of the work I've done while earning my masters in computer science specializing in Natural Language Processing, while working at SingleStore, and personal coding projects.

<h1>Projects</h1>

{% for tag in site.tags %}
  <h3>{{ tag[0] }}</h3>
  <ul>
    {% for post in tag[1] %}
      <li><a href="{{ post.url }}">{{ post.title }}</a>
        {{ post.excerpt }}
      </li>
    {% endfor %}
  </ul>
{% endfor %}

# Who am I?
[About Coding Gen](about.html)

